.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section__title {
  @media (max-width: 319px) {
    font-size: 26px;

  }

  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-color);
  font-family: var(--title-font-family);
  text-transform: uppercase;

  @include mq(tab) {
    font-size: 48px;
    line-height: 1.16;
  }

  @include mq(desk) {
    font-size: 58px;
    line-height: 1.14;
  }
}
