.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section__title {
  font-size: 58px;
  line-height: 1.14;
  text-align: center;
  color: var(--title-text-color);

  @include mq(tab) {
    font-size: 48px;
    line-height: 1.16;
  }

  @include mq(desc) {
    font-size: 58px;
    line-height: 1.14;
  }
}
