@import '~node_modules/modern-normalize/modern-normalize.css';

@import './utils/reset';
@import './utils/variables';
@import './utils/mixin';

@import './base/common';
@import './base/card-set';
@import './base/container';
@import './base/section';

@import './components/logo';
@import './components/btn';
@import './components/mobile-menu';
@import './components/social';
@import './components/backdrop';
@import './components/modal';
@import './components/site-nav';
@import './components/locations';

@import './layout/header';
@import './layout/hero';
@import './layout/products';
@import './layout/about';
@import './layout/advantages';
@import './layout/gallery';
@import './layout/reviews';
@import './layout/contacts';
@import './layout/footer';
