:root {
  --title-font-family: 'Titan One', cursive;
  --primary-font-family: 'DM Sans', sans-serif;

  --hero-bg-color: #ffb8ca;

  --white-color: #ffffff;
  --black-color: #000000;
  --title-color: #d41443;
  --text-color: #907e82;
  --second-br-color: #fff5f6;
  --card-color: #ffb8ca;
  --second-card-color: #f0d1a5;
  --third-card-color: #c2e297;
  --pretitle-color: #ffa5ba;

  --revie-br-color: #fafafa;
  --mob-menu-bg: #e17992;

  --accent-color: #d41443;
  --btn-hover-color: #ecebeb;
  --border-modal-color: #e18298;

  --card-item: 1;
  --card-gap: 0;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
