:root {
  --title-font-family: 'DM Sans', sans-serif;
  --primary-font-family: 'Titan One', cursive;

  --primary-bg-color: #ffffff;

  --bg-menu-color: #e17992;

  --primary-white-color: #ffffff;

  --title-text-color: #d41443;

  --white-text-color: #ffffff;
  --black-text-color: #000000;

  --primary-text-color: #907e82;
  --secondary-text-color: #ffa5ba;

  --accent-text-color: #d41443;

  --card-item: 1;
  --gard-gap: 0;
}
