<section id="about" class="section about">
  <div class="container">
    <p class="about-text__titel">tradition and love</p>
    <h2 class="section__title about-title">how it's made?</h2>
    <div class="about-box">
      <picture>
        <source
          srcset="
            images/webp/about/cow-desk-1x.webp 1x,
            images/webp/about/cow-desk-2x.webp 2x
          "
          media="(min-width:1200px)"
          type="image/webp"
        />
        <source
          srcset="
            images/png/about/cow-desk-1x.png 1x,
            images/png/about/cow-desk-2x.png 2x
          "
          media="(min-width:1200px)"
          type="image/png"
        />
        <source
          srcset="
            images/webp/about/cow-tab-1x.webp 1x,
            images/webp/about/cow-tab-2x.webp 2x
          "
          media="(min-width:768px)"
          type="image/webp"
        />
        <source
          srcset="
            images/png/about/cow-tab-1x.png 1x,
            images/png/about/cow-tab-2x.png 2x
          "
          media="(min-width:768px)"
          type="image/png"
        />
        <source
          srcset="
            images/webp/about/cow-tab-1x.webp 1x,
            images/webp/about/cow-tab-2x.webp 2x
          "
          media="(min-width:480px)"
          type="image/webp"
        />
        <source
          srcset="
            images/png/about/cow-tab-1x.png 1x,
            images/png/about/cow-tab-2x.png 2x
          "
          media="(min-width:480px)"
          type="image/png"
        />
        <source
          srcset="
            images/webp/about/cow-mob-1x.webp 1x,
            images/webp/about/cow-mob-2x.webp 2x
          "
          media="(min-width:320px)"
          type="image/webp"
        />
        <source
          srcset="
            images/png/about/cow-mob-1x.png 1x,
            images/png/about/cow-mob-2x.png 2x
          "
          media="(min-width:320px)"
          type="image/png"
        />
        <img
          src="images/png/about/cow-mob-2x.png"
          alt="cow"
          class="about__img"
        />
      </picture>
      <div class="about-box__text">
        <p class="about__text about__text--primary">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
          cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at
          justo fringilla.
        </p>
        <p class="about__text about__text--secondary">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
          Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
          suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
          tincidunt.
        </p>
        <p class="about__text about__text--third">
          Aliquam erat volutpat. Aenean accumsan.
        </p>
        <button type="button" class="btn about-btn">Read more</button>
      </div>
    </div>
  </div>
</section>
