<section id="made" class="section advantages">
  <div class="container advantages__container">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="card-set advantages__list">
      <li class="card-set-item advantages__item">
        <span class="advantages__statistics">721</span>
        <p class="advantages__texst">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="card-set-item advantages__item">
        <span class="advantages__statistics">16kg</span>
        <p class="advantages__texst">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="card-set-item advantages__item">
        <span class="advantages__statistics">84</span>
        <p class="advantages__texst">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
