<section class="contacts section">
  <div class="container">
    <h2 class="contacts__title visually-hidden">Our restaurants</h2>
    <ul class="contacts__card-set">
      <li class="contacts-card">
        <span class="contacts-card__label">Cafe</span>
        <h3 class="contacts-card__title">Chicago</h3>
        <p class="contacts-card__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <ul class="contacts-card__items">
          <li class="contacts-card__item">
            <p class="contact-card__desc">Monday - Friday</p>
            <p class="contacts-card__time"><time>06:00 AM - 10:00 PM</time></p>
          </li>
          <li class="contacts-card__item">
            <p class="contact-card__desc">Saturday - Sunday</p>
            <p class="contacts-card__time"><time>08:00 AM - 16:00 PM</time></p>
          </li>
        </ul>
        <address class="contact-card__address">
          <a href="" class="contact-card__tel">+61(0) 383 766 284</a>
          <a href="" class="contact-card__mail">noreply@envato.com</a>
        </address>
      </li>
      <li class="contacts-card">
        <span class="contacts-card__label contacts-card__label--green">Food truck</span>
        <h3 class="contacts-card__title">Los Angeles</h3>
        <p class="contacts-card__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <ul class="contacts-card__items">
          <li class="contacts-card__item">
            <p class="contact-card__desc">Monday - Friday</p>
            <p class="contacts-card__time"><time>06:00 AM - 10:00 PM</time></p>
          </li>
          <li class="contacts-card__item">
            <p class="contact-card__desc">Saturday - Sunday</p>
            <p class="contacts-card__time"><time>08:00 AM - 16:00 PM</time></p>
          </li>
        </ul>
        <address class="contact-card__address">
          <a href="" class="contact-card__tel">+61(0) 383 766 284</a>
          <a href="" class="contact-card__mail">noreply@envato.com</a>
        </address>
      </li>
      <li class="contacts-card">
        <span class="contacts-card__label">Cafe</span>
        <h3 class="contacts-card__title">New York</h3>
        <p class="contacts-card__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <ul class="contacts-card__items">
          <li class="contacts-card__item">
            <p class="contact-card__desc">Monday - Friday</p>
            <p class="contacts-card__time"><time>06:00 AM - 10:00 PM</time></p>
          </li>
          <li class="contacts-card__item">
            <p class="contact-card__desc">Saturday - Sunday</p>
            <p class="contacts-card__time"><time>08:00 AM - 16:00 PM</time></p>
          </li>
        </ul>
        <address class="contact-card__address">
          <a href="" class="contact-card__tel">+61(0) 383 766 284</a>
          <a href="" class="contact-card__mail">noreply@envato.com</a>
        </address>
      </li>
    </ul>
    <button class="btn" type="button">Our Locations</button>
    <button class="btn" type="button">Franchise</button>

  </div>
</section>