<section class="contacts">
  <h2 class="contacts__title visually-hidden">Our restaurants</h2>
  <ul class="contacts__card-set">
    <li class="contacts-card">
      <span class="contacts-card__label"></span>
      <h3 class="contacts-card__title"></h3>
      <p class="contacts-card__text"></p>
      <ul class="contacts-card__list">
        <li class="contacts-card__item"></li>
        <li class="contacts-card__item"></li>
      </ul>
    </li>
    <li class="contacts-card">
      <span class="contacts-card__label"></span>
      <h3 class="contacts-card__title"></h3>
      <p class="contacts-card__text"></p>
      <ul class="contacts-card__list">
        <li class="contacts-card__item"></li>
        <li class="contacts-card__item"></li>
      </ul>
    </li>
    <li class="contacts-card">
      <span class="contacts-card__label"></span>
      <h3 class="contacts-card__title"></h3>
      <p class="contacts-card__text"></p>
      <ul class="contacts-card__list">
        <li class="contacts-card__item"></li>
        <li class="contacts-card__item"></li>
      </ul>
    </li>
  </ul>
</section>