<footer class="footer section">
  <div class="container">
    <p class="footer__title">Homemade ice cream made <span class="footer__title--red">with passion</span>
    </p>
    <div class="footer__leftside">
      <ul class="footer__list card-set">
        <li class="footer__item">
          <a href="https://github.com/" class="footer__icon" aria-label="link github" target="_blank" title="GitHub"
            rel="noopener noreferrer">
            <svg width="32" height="32">
              <use href="./images/icon.svg#icon-github"></use>
            </svg>
          </a>
        </li>
        <li class="footer__item">
          <a href="https://web.telegram.org/z/" class="footer__icon" aria-label="link telegram" target="_blank"
            title="Telegram" rel="noopener noreferrer">
            <svg width="32" height="32">
              <use href="./images/icon.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
        <li class="footer__item">
          <a href="https://www.facebook.com/" class="footer__icon" aria-label="link facebook" target="_blank"
            title="Facebook" rel="noopener noreferrer">
            <svg width="32" height="32">
              <use href="./images/icon.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
      <p class="footer__text">Feel free to contact
        <a href="tel:+610383766284" class="footer__contact" aria-label="tel">+61 (0) 383 766 284</a>
      </p>

    </div>
  </div>
  <p class="footer__posttitle"> &copy; 2022 - IceCream. <span class="footer__posttitle--bottomtext">All Rights
      Reserved.</span> </p>

</footer>