<section class="section gallery">
  <div class="container">
    <h2 class="section__title visually-hidden">Gallery</h2>
    <div class="gallery gallery__list">
      <a
        class="gallery__item"
        href="images/webp/gallery/desk/img-1-desk-2x.webp"
      >
        <picture>
          <source
            srcset="
              images/webp/gallery/desk/img-1-desk-1x.webp 1x,
              images/webp/gallery/desk/img-1-desk-2x.webp 2x
            "
            type="image/webp"
            media="(min-width:1200px)"
          />
          <source
            srcset="
              images/webp/gallery/tab/img-1-tab-1x.webp 1x,
              images/webp/gallery/tab/img-1-tab-2x.webp 2x
            "
            type="image/webp"
            media="(min-width:480px)"
          />
          <source
            srcset="
              images/webp/gallery/mob/img-1-mob-1x.webp 1x,
              images/webp/gallery/mob/img-1-mob-2x.webp 2x
            "
            type="image/webp"
            media="(max-width:768px)"
          />
          <img
            src="images/png/gallery/desk/img-1-desk-2x.png"
            alt="ice-cream
          on table"
          />
        </picture>
      </a>

      <a
        class="gallery__item"
        href="images/webp/gallery/desk/img-2-desk-2x.webp"
      >
        <picture>
          <source
            srcset="
              images/webp/gallery/desk/img-2-desk-1x.webp 1x,
              images/webp/gallery/desk/img-2-desk-2x.webp 2x
            "
            type="image/webp"
            media="(min-width:1200px)"
          />
          <source
            srcset="
              images/webp/gallery/tab/img-2-tab-1x.webp 1x,
              images/webp/gallery/tab/img-2-tab-2x.webp 2x
            "
            type="image/webp"
            media="(min-width:480px)"
          />
          <source
            srcset="
              images/webp/gallery/mob/img-2-mob-1x.webp 1x,
              images/webp/gallery/mob/img-2-mob-2x.webp 2x
            "
            type="image/webp"
            media="(max-width:768px)"
          />
          <img
            src="images/png/gallery/desk/img-2-desk-2x.png"
            alt="ice-cream
          in hand"
          />
        </picture>
      </a>

      <a
        class="gallery__item"
        href="images/webp/gallery/desk/img-3-desk-2x.webp"
      >
        <picture>
          <source
            srcset="
              images/webp/gallery/desk/img-3-desk-1x.webp 1x,
              images/webp/gallery/desk/img-3-desk-2x.webp 2x
            "
            type="image/webp"
            media="(min-width:1200px)"
          />
          <source
            srcset="
              images/webp/gallery/tab/img-3-tab-1x.webp 1x,
              images/webp/gallery/tab/img-3-tab-2x.webp 2x
            "
            type="image/webp"
            media="(min-width:480px)"
          />
          <source
            srcset="
              images/webp/gallery/mob/img-3-mob-1x.webp 1x,
              images/webp/gallery/mob/img-3-mob-2x.webp 2x
            "
            type="image/webp"
            media="(max-width:768px)"
          />
          <img
            src="images/png/gallery/desk/img-3-desk-2x.png"
            alt="many ice-cream"
          />
        </picture>
      </a>

      <a
        class="gallery__item"
        href="images/webp/gallery/desk/img-4-desk-2x.webp"
      >
        <picture>
          <source
            srcset="
              images/webp/gallery/desk/img-4-desk-1x.webp 1x,
              images/webp/gallery/desk/img-4-desk-2x.webp 2x
            "
            type="image/webp"
            media="(min-width:1200px)"
          />
          <source
            srcset="
              images/webp/gallery/tab/img-4-tab-1x.webp 1x,
              images/webp/gallery/tab/img-4-tab-2x.webp 2x
            "
            type="image/webp"
            media="(min-width:480px)"
          />
          <source
            srcset="
              images/webp/gallery/mob/img-4-mob-1x.webp 1x,
              images/webp/gallery/mob/img-4-mob-2x.webp 2x
            "
            type="image/webp"
            media="(max-width:768px)"
          />
          <img
            src="images/png/gallery/desk/img-4-desk-2x.png"
            alt="ice-cream with berry"
          />
        </picture>
      </a>

      <a
        class="gallery__item"
        href="images/webp/gallery/desk/img-5-desk-2x.webp"
      >
        <picture>
          <source
            srcset="
              images/webp/gallery/desk/img-5-desk-1x.webp 1x,
              images/webp/gallery/desk/img-5-desk-2x.webp 2x
            "
            type="image/webp"
            media="(min-width:1200px)"
          />
          <source
            srcset="
              images/webp/gallery/tab/img-5-tab-1x.webp 1x,
              images/webp/gallery/tab/img-5-tab-2x.webp 2x
            "
            type="image/webp"
            media="(min-width:480px)"
          />
          <source
            srcset="
              images/webp/gallery/mob/img-5-mob-1x.webp 1x,
              images/webp/gallery/mob/img-5-mob-2x.webp 2x
            "
            type="image/webp"
            media="(max-width:768px)"
          />
          <img
            src="images/png/gallery/desk/img-5-desk-2x.png"
            alt="dog eats ice-cream"
          />
        </picture>
      </a>

      <a
        class="gallery__item"
        href="images/webp/gallery/desk/img-6-desk-2x.webp"
      >
        <picture>
          <source
            srcset="
              images/webp/gallery/desk/img-6-desk-1x.webp 1x,
              images/webp/gallery/desk/img-6-desk-2x.webp 2x
            "
            type="image/webp"
            media="(min-width:1200px)"
          />
          <source
            srcset="
              images/webp/gallery/tab/img-6-tab-1x.webp 1x,
              images/webp/gallery/tab/img-6-tab-2x.webp 2x
            "
            type="image/webp"
            media="(min-width:480px)"
          />
          <source
            srcset="
              images/webp/gallery/mob/img-6-mob-1x.webp 1x,
              images/webp/gallery/mob/img-6-mob-2x.webp 2x
            "
            type="image/webp"
            media="(max-width:768px)"
          />
          <img
            src="images/png/gallery/desk/img-6-desk-2x.png"
            alt="cake with milk-shaike"
          />
        </picture>
      </a>

      <a
        class="gallery__item"
        href="images/webp/gallery/desk/img-7-desk-2x.webp"
      >
        <picture>
          <source
            srcset="
              images/webp/gallery/desk/img-7-desk-1x.webp 1x,
              images/webp/gallery/desk/img-7-desk-2x.webp 2x
            "
            type="image/webp"
            media="(min-width:1200px)"
          />
          <source
            srcset="
              images/webp/gallery/tab/img-7-tab-1x.webp 1x,
              images/webp/gallery/tab/img-7-tab-2x.webp 2x
            "
            type="image/webp"
            media="(min-width:480px)"
          />
          <source
            srcset="
              images/webp/gallery/mob/img-7-mob-1x.webp 1x,
              images/webp/gallery/mob/img-7-mob-2x.webp 2x
            "
            type="image/webp"
            media="(max-width:768px)"
          />
          <img
            src="images/png/gallery/desk/img-7-desk-2x.png"
            alt="many pink ice-cream"
          />
        </picture>
      </a>

      <a
        class="gallery__item"
        href="images/webp/gallery/desk/img-8-desk-2x.webp"
      >
        <picture>
          <source
            srcset="
              images/webp/gallery/desk/img-8-desk-1x.webp 1x,
              images/webp/gallery/desk/img-8-desk-2x.webp 2x
            "
            type="image/webp"
            media="(min-width:1200px)"
          />
          <source
            srcset="
              images/webp/gallery/tab/img-8-tab-1x.webp 1x,
              images/webp/gallery/tab/img-8-tab-2x.webp 2x
            "
            type="image/webp"
            media="(min-width:480px)"
          />
          <source
            srcset="
              images/webp/gallery/mob/img-8-mob-1x.webp 1x,
              images/webp/gallery/mob/img-8-mob-2x.webp 2x
            "
            type="image/webp"
            media="(max-width:768px)"
          />
          <img
            src="images/png/gallery/desk/img-8-desk-2x.png"
            alt="girl eats ice-cream"
          />
        </picture>
      </a>

      <a
        class="gallery__item"
        href="images/webp/gallery/desk/img-9-desk-2x.webp"
      >
        <picture>
          <source
            srcset="
              images/webp/gallery/desk/img-9-desk-1x.webp 1x,
              images/webp/gallery/desk/img-9-desk-2x.webp 2x
            "
            type="image/webp"
            media="(min-width:1200px)"
          />
          <source
            srcset="
              images/webp/gallery/tab/img-9-tab-1x.webp 1x,
              images/webp/gallery/tab/img-9-tab-2x.webp 2x
            "
            type="image/webp"
            media="(min-width:480px)"
          />
          <source
            srcset="
              images/webp/gallery/mob/img-9-mob-1x.webp 1x,
              images/webp/gallery/mob/img-9-mob-2x.webp 2x
            "
            type="image/webp"
            media="(max-width:768px)"
          />
          <img
            src="images/png/gallery/desk/img-9-desk-2x.png"
            alt="ice-cream in hand on walk"
          />
        </picture>
      </a>

      <a
        class="gallery__item"
        href="images/webp/gallery/desk/img-10-desk-2x.webp"
      >
        <picture>
          <source
            srcset="
              images/webp/gallery/desk/img-10-desk-1x.webp 1x,
              images/webp/gallery/desk/img-10-desk-2x.webp 2x
            "
            type="image/webp"
            media="(min-width:1200px)"
          />
          <source
            srcset="
              images/webp/gallery/tab/img-10-tab-1x.webp 1x,
              images/webp/gallery/tab/img-10-tab-2x.webp 2x
            "
            type="image/webp"
            media="(min-width:480px)"
          />
          <source
            srcset="
              images/webp/gallery/mob/img-10-mob-1x.webp 1x,
              images/webp/gallery/mob/img-10-mob-2x.webp 2x
            "
            type="image/webp"
            media="(max-width:768px)"
          />
          <img
            src="images/png/gallery/desk/img-10-desk-2x.png"
            alt="chocolat coctaile"
          />
        </picture>
      </a>
    </div>
  </div>
</section>
