<!-- <section class="section gallery">
  <div class="container">
    <h2 class="section__title visually-hidden">Gallery</h2>
    <ul class="gallery__list">
      <li class="gallery__item">текст</li>
      <li class="gallery__item"><img src="" alt="" /></li>
      <li class="gallery__item"><img src="" alt="" /></li>
      <li class="gallery__item"><img src="" alt="" /></li>
      <li class="gallery__item"><img src="" alt="" /></li>
      <li class="gallery__item"><img src="" alt="" /></li>
      <li class="gallery__item"><img src="" alt="" /></li>
      <li class="gallery__item"><img src="" alt="" /></li>
      <li class="gallery__item"><img src="" alt="" /></li>
      <li class="gallery__item"><img src="" alt="" /></li>
    </ul>
  </div>
</section> -->
