<section class="section gallery">
  <div class="container">
    <h2 class="section__title visually-hidden">Gallery</h2>

    <div class="gallery__list">
      <div class="gallery__item">
        <a href="images/webp/gallery/desk/img-1-desk-2x.webp"
          ><img
            src="images/webp/gallery/desk/img-1-desk-1x.webp"
            alt=""
            title=""
        /></a>
      </div>

      <div class="gallery__item">
        <a href="images/webp/gallery/desk/img-2-desk-2x.webp"
          ><img
            src="images/webp/gallery/desk/img-2-desk-1x.webp"
            alt=""
            title=""
        /></a>
      </div>

      <div class="gallery__item">
        <a href="images/webp/gallery/desk/img-3-desk-2x.webp"
          ><img
            src="images/webp/gallery/desk/img-3-desk-1x.webp"
            alt=""
            title=""
        /></a>
      </div>

      <div class="gallery__item">
        <a href="images/webp/gallery/desk/img-4-desk-2x.webp"
          ><img
            src="images/webp/gallery/desk/img-4-desk-1x.webp"
            alt=""
            title=""
        /></a>
      </div>

      <div class="gallery__item">
        <a href="images/webp/gallery/desk/img-5-desk-2x.webp"
          ><img
            src="images/webp/gallery/desk/img-5-desk-1x.webp"
            alt=""
            title=""
        /></a>
      </div>
      <div class="gallery__item">
        <a href="images/webp/gallery/desk/img-6-desk-2x.webp"
          ><img
            src="images/webp/gallery/desk/img-6-desk-1x.webp"
            alt=""
            title=""
        /></a>
      </div>
      <div class="gallery__item">
        <a href="images/webp/gallery/desk/img-7-desk-2x.webp"
          ><img
            src="images/webp/gallery/desk/img-7-desk-1x.webp"
            alt=""
            title=""
        /></a>
      </div>

      <div class="gallery__item">
        <a href="images/webp/gallery/desk/img-8-desk-2x.webp"
          ><img
            src="images/webp/gallery/desk/img-8-desk-1x.webp"
            alt=""
            title=""
        /></a>
      </div>

      <div class="gallery__item">
        <a href="images/webp/gallery/desk/img-9-desk-2x.webp"
          ><img
            src="images/webp/gallery/desk/img-9-desk-1x.webp"
            alt=""
            title=""
        /></a>
      </div>

      <div class="gallery__item">
        <a href="images/webp/gallery/desk/img-10-desk-2x.webp"
          ><img
            src="images/webp/gallery/desk/img-10-desk-1x.webp"
            alt=""
            title=""
        /></a>
      </div>
    </div>
  </div>
</section>
