<header class="header" data-header>
  <div class="container">
    <div class="header__wrapper">
      <nav class="header__nav">
        <a class="logo" href="./index.html">
          <svg class="logo__icon">
            <use href="./images/icon.svg#icon-logo"></use>
          </svg>
        </a>
        <ul class="nav">
          <li class="nav__item"><a class="nav__link" href="#home">Home</a></li>
          <li class="nav__item">
            <a class="nav__link" href="#about">About us</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#made">How it’s made?</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#product">Our products</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#contact">Contact</a>
          </li>
        </ul>
      </nav>

      <button type="button" class="mob-btn__open">
        <svg class="mob-btn--open__menu" width="20" height="12">
          <use href="./images/icon.svg#icon-Burger"></use>
        </svg>
      </button>
      <button class="btn__header" type="button">
        Buy now
        <svg class="btn__icon" width="4" height="8">
          <use href="./images/icon.svg#Arrow-btn"></use>
        </svg>
      </button>


    </div>

<!--    &lt;!&ndash;Mobile menu&ndash;&gt;-->
<!--    <div class="mob-menu ">-->

<!--      <div class="mob-container">-->
<!--        <button type="button" class="mob-btn__close">-->
<!--          <svg class="mob-btn&#45;&#45;icon__close" width="40" height="40">-->
<!--            <use href="./images/icon.svg#icon-close"></use>-->
<!--          </svg>-->
<!--        </button>-->
<!--        <ul class='mob-nav list'>-->
<!--          <li class='mob-nav__item'><a class='mob-nav__link' href='#home'>Home</a></li>-->
<!--          <li class='mob-nav__item'><a class='mob-nav__link' href='#about'>About us</a></li>-->
<!--          <li class='mob-nav__item'><a class='mob-nav__link' href='#made'>How it’s made?</a></li>-->
<!--          <li class='mob-nav__item'><a class='mob-nav__link' href='#product'>Our products</a></li>-->
<!--          <li class='mob-nav__item'><a class='mob-nav__link' href='#contact'>Contact</a></li>-->
<!--        </ul>-->
<!--      </div>-->
<!--    </div>-->
  </div>
</header>
