<header class="header" data-header>
  <div class="container">
    <div class="header__wrapper">
      <a class="logo" href="./index.html" aria-label="ice cream logo">
        <svg class="logo__icon" width="199" height="50">
          <use href="./images/icon.svg#icon-logo"></use>
        </svg>
      </a>

      <nav class="site-nav">
        <ul class="site-nav__list">
          <li class="site-nav__item">
            <a class="site-nav__link" href="#home">Home</a>
          </li>
          <li class="site-nav__item">
            <a class="site-nav__link" href="#about">About us</a>
          </li>
          <li class="site-nav__item">
            <a class="site-nav__link" href="#made">How it’s made?</a>
          </li>
          <li class="site-nav__item">
            <a class="site-nav__link" href="#gallery">Our products</a>
          </li>
          <li class="site-nav__item">
            <a class="site-nav__link" href="#contact">Contact</a>
          </li>
        </ul>
      </nav>

      <div class="btn__wrap" data-menu-btn="">
        <button type="button" class="btn mob-btn__open" data-menu-open aria-label="mobile menu button">
          <svg class="mob-btn--open__menu" width="20" height="12">
            <use href="./images/icon.svg#icon-Burger"></use>
          </svg>
        </button>

        <button class="btn btn__primary btn__header--append" data-modal-open type="button">
          Buy now
          <svg class="btn__icon" width="8" height="12">
            <use href="./images/icon.svg#Arrow-btn"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</header>