<section class="hero__section hero-bg" id="home">
  <div class="container hero__container">
    <div class="hero__left">
      <!--  Text    -->
      <div class="hero-content">
        <h1 class="hero-content__title">
          ice cream made with
          <span class="hero-content__title--accent">passion</span>
        </h1>
        <div class="btn__hero">
          <a class="btn__link btn__link--pink" href="#product">Products</a>
          <a class="btn__link btn__link--white" href="#about">How it’s made?</a>
        </div>
      </div>

      <div class="hero-info">
        <div>
          <p class="hero-info__btn">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
          <p class="hero-info__btn--hide hero-info__btn">
            Lorem ipsum dolor sit amet
          </p>
          <button
            class="hero-info__arrow btn btn__expand"
            data-text-selector=".hero-info__btn--hide"
          >
            <img
              srcset="
                ./images/png/btn/arrow-right-desk-1x.png 1x,
                ./images/png/btn/arrow-right-desk-2x.png 2x
              "
              src="./images/png/btn/arrow-right-desk-1x.png"
              alt="arrow"
            />
          </button>
        </div>
      </div>
    </div>

    <div class="hero-img">
      <!--Ice Cream-->
      <picture
        class="hero-img__ice animate__animated animate__headShake animate__infinite"
      >
        <source
          srcset="
            ./images/png/hero/icecream-desk-1x.png 1x,
            ./images/png/hero/icecream-desk-2x.png 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/png/hero/icecream-tab-1x.png 1x,
            ./images/png/hero/icecream-tab-2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/png/hero/icecream-mob-1x.png 1x,
            ./images/png/hero/icecream-mob-2x.png 2x
          "
          media="(min-width: 320px)"
        />
        <img src="./images/png/hero/icecream-desk-1x.png" alt="ice cream" />
      </picture>
    </div>

    <div class="hero__right">
      <!-- Number -->
      <ul class="number__wrap">
        <li class="number__position">
          <span class="number">16</span>
        </li>
        <li class="number__text">
          <p>cafes</p>
        </li>
        <li class="number__position">
          <span class="number">23</span>
        </li>
        <li class="number__text">
          <p>food trucks</p>
        </li>
      </ul>

      <!--Woman-->
      <picture class="hero-img__woman">
        <source
          srcset="
            ./images/png/hero/women-desk-1x.png 1x,
            ./images/png/hero/women-desk-2x.png 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/png/hero/women-tab-1x.png 1x,
            ./images/png/hero/women-tab-2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <img src="./images/png/hero/women-desk-1x.png" alt="ice cream" />
      </picture>
    </div>
  </div>
</section>
