<div class="container">
  <div class="mobile-menu is-hidden" data-menu>
    <button type="button" class="btn btn-menu__close" data-menu-close>
      <svg
        class="btn-menu__icon-menu"
        width="20px"
        height="20px"
        aria-label="Переключатель мобильного меню"
      >
        <use class="icon-menu-close" href="./images/icon.svg#icon-close"></use>
      </svg>
    </button>

    <button
      class="btn btn__primary btn__mob"
      type="button"
      data-mob-modal-open=""
    >
      Buy now
      <svg class="btn__icon" width="8" height="12">
        <use href="./images/icon.svg#Arrow-btn"></use>
      </svg>
    </button>

    <nav class="mob__site-nav">
      <ul class="nav">
        <li class="mob-nav__item">
          <a class="mob-nav__link" href="#home">Home</a>
        </li>
        <li class="nav__item">
          <a class="mob-nav__link" href="#about">About us</a>
        </li>
        <li class="mob-nav__item">
          <a class="mob-nav__link" href="#made">How it’s made?</a>
        </li>
        <li class="mob-nav__item">
          <a class="mob-nav__link" href="#gallery">Our products</a>
        </li>
        <li class="mob-nav__item">
          <a class="mob-nav__link" href="#contact">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
