<section class="container">
  <div class="section products">
    <p class="products__pretitle">100% natural</p>
    <h2 class="section__title products__title">products</h2>
    <ul class="products__list card-set">
      <li class="products__item card-set-item">
        <div class="product__wrap">
          <h3 class="product__title">ice cream</h3>
          <p class="product__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <a href="#" class="product__link"
            ><img
              class="product-img__btn"
              src="./images/png/btn/arrow-right-desk-2x.png"
              alt="arrow"
          /></a>
        </div>
      </li>
      <li class="products__item card-set-item">
        <div class="product__wrap">
          <h3 class="product__title">ice coffee</h3>
          <p class="product__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <a href="#" class="product__link"
            ><img
              class="product-img__btn"
              src="./images/png/btn/arrow-right-desk-2x.png"
              alt="arrow"
          /></a>
        </div>
      </li>
      <li class="products__item card-set-item">
        <div class="product__wrap">
          <h3 class="product__title">milkshakes</h3>
          <p class="product__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <a href="#" class="product__link"
            ><img
              class="product-img__btn"
              src="./images/png/btn/arrow-right-desk-2x.png"
              alt="arrow button"
          /></a>
        </div>
      </li>
    </ul>
  </div>
</section>
