<section class="section products" id="product">
  <div class="container">
    <span class="products__pretitle">100% natural</span>
    <h2 class="section__title products__title">products</h2>
    <ul class="products__list card-set">
      <li class="products__item card-set-item">
        <div class="product__thumb">
          <div class="product__wrapper">
            <h3 class="product__title">ice cream</h3>
            <p class="product__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et. dolore magna aliqua
              facilisis.
            </p>
          </div>
          <a
            href="https://youtu.be/7gJIyHnD710"
            class="product__btn"
            aria-label="ice cream recipe"
            target="_blank"
            title="ice cream"
            rel="noopener noreferrer"
          >
            <img
              class="product-img__btn"
              src="./images/png/btn/arrow-right-desk-2x.png"
              alt="arrow"
            />
          </a>
          <div class="product__thumb--hidden">
            <h3 class="product__title product__title--hidden">cooking</h3>
            <p class="product__text product__text--hidden">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et. dolore magna aliqua
              facilisis.
            </p>
          </div>
        </div>
      </li>
      <li class="products__item card-set-item">
        <div class="product__thumb">
          <div class="product__wrapper">
            <h3 class="product__title">ice coffee</h3>
            <p class="product__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et. dolore magna aliqua
              facilisis.
            </p>
          </div>
          <a
            href="https://youtu.be/Vld7l7EEK84"
            class="product__btn"
            aria-label="ice coffee recipe"
            target="_blank"
            title="ice coffee"
            rel="noopener noreferrer"
          >
            <img
              class="product-img__btn"
              src="./images/png/btn/arrow-right-desk-2x.png"
              alt="arrow"
            />
          </a>
          <div class="product__thumb--hidden">
            <h3 class="product__title product__title--hidden">cooking</h3>
            <p class="product__text product__text--hidden">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et. dolore magna aliqua
              facilisis.
            </p>
          </div>
        </div>
      </li>
      <li class="products__item card-set-item">
        <div class="product__thumb">
          <div class="product__wrapper">
            <h3 class="product__title">milkshakes</h3>
            <p class="product__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et. dolore magna aliqua
              facilisis.
            </p>
          </div>
          <a
            href="https://youtu.be/DWG--xG0i-A"
            class="product__btn"
            aria-label="milkshakes recipe"
            target="_blank"
            title="milkshakes"
            rel="noopener noreferrer"
          >
            <img
              class="product-img__btn"
              src="./images/png/btn/arrow-right-desk-2x.png"
              alt="arrow"
            />
          </a>
          <div class="product__thumb--hidden">
            <h3 class="product__title product__title--hidden">cooking</h3>
            <p class="product__text product__text--hidden">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et. dolore magna aliqua
              facilisis.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
