<section class="section products container">
    <div class="container">
        <p class="products__pretitle">100% natural</p>
        <h2 class="section__title">products</h2>
        <ul class="products__list card-set">
            <li class="products__item card-set-item">
                <h3 class="products__title">ICE CREAM</h3>
                <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et. dolore magna aliqua facilisis.</p>
                <a href="#" class="products__link"><img class="products-img__btn"
                        src="/src/images/png/btn/arrow-right-desk-2x.png" alt="#"></a>
            </li>
            <li class="products__item card-set-item">
                <h3 class="products__title">ICE COFFEE</h3>
                <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et. dolore magna aliqua facilisis. </p>
                <a href="#" class="products__link"><img class="products-img__btn"
                        src="/src/images/png/btn/arrow-right-desk-2x.png" alt="#"></a>
            </li>
            <li class="products__item card-set-item">
                <h3 class="products__title">MILKSHAKES</h3>
                <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et. dolore magna aliqua facilisis. </p>
                <a href="#" class="products__link"><img class="products-img__btn"
                        src="/src/images/png/btn/arrow-right-desk-2x.png" alt="#"></a>
            </li>
        </ul>
    </div>
</section>