.btn {
  /* reset browser styles  - для кнопки потрібно скидати стилі*/
  display: inline-flex;
  text-align: center;
  border-color: transparent;

  justify-content: center;
  align-items: center;
  border-width: 0;
  font-family: inherit;
  font-style: inherit;

  padding: 0px;
  border-radius: 4px;

  font-size: 16px;
  line-height: 1.31;
  font-weight: 700;

  //не задано по макету
  letter-spacing: inherit;
  color: var(--title-text-color);
}

.btn__primary {
  // display: inline-flex;
  // justify-content: center;
  // align-items: center;
  // padding: 0;
  min-width: 160px;
  min-height: 44px;
  font-family: var(--primary-font-family);
  background: var(--white-color);
  color: var(--accent-color);
  border-radius: 22px;
  border: none;
  font-weight: 700;
  // font-size: 16px;
  // line-height: 1.3px;

  transition: background-color var(--transition);

  &:hover,
  &:focus {
    @include mq(tab) {
      background-color: var(--btn-hover-color);
    }
  }
}

.btn__header--append {
  @media (max-width: 768px) {
    display: none;
  }

  @include mq(tab) {
    display: inline-flex;
    margin-left: auto;
  }
}

.mob-btn__open {
  background-color: transparent;
  border: none;
  flex-shrink: 1;

  @include mq(tab-only) {
    margin-right: 32px;
  }

  @include mq(desk) {
    display: none;
  }
}

.btn__primary--append {
  position: relative;
}

.btn__icon {
  margin-left: 14px;
}

.btn-menu__close {
  position: absolute;
  width: 14px;
  height: 14px;
  top: 20px;
  right: 32px;
  border: none;
  background: transparent;
  color: var(--white-color);
}

.btn-menu__icon-menu {
  fill: currentColor;
}

// .mobile-menu.is-open .mob-btn__open
