.btn {
  /* reset browser styles  - для кнопки потрібно скидати стилі*/
  display: inline-flex;
  text-align: center;
  border-color: transparent;

  justify-content: center;
  align-items: center;
  border-width: 0;
  font-family: inherit;
  font-style: inherit;

  padding: 0px;
  border-radius: 4px;

  font-size: 16px;
  line-height: 1.31;
  font-weight: 700;

  //не задано по макету
  letter-spacing: inherit;
  color: var(--title-text-color);
}
