.locations__modal {
  padding: 40px 20px 20px;
}
.locations__slide {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.slide__container {
  @include mq(mob-only) {
    width: 100%;
  }
  @include mq(desk) {
    width: 100%;
  }
  .swiper-slide & {
    @include mq(fab) {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
  }
}
.contacts-card__label.locations__label {
  margin-bottom: 10px;
}
.locations__title {
  color: var(--title-color);
  @include mq(mob-only) {
    margin-bottom: 20px;
  }
  @include mq(fab) {
    display: flex;
    align-items: center;
    margin-left: auto;
    flex-grow: 1;
  }
  &::before {
    content: '';
    display: block;
    width: 70px;
    height: 60px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../images/morozhenoye1x.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    @include mq(retina) {
      background-image: url(../images/morozhenoye-2x.png);
    }
    @include mq(fab) {
      margin-right: auto;
      width: 80px;
      height: 60px;
    }
  }
}
.locations__map {
  width: 250px;
}
.swiper-button-next,
.swiper-button-prev {
  @include mq(mob-only) {
    top: 20%;
  }
}
.locations__frame {
  border-radius: 20px;
  @include mq(mob-only) {
    width: 100%;
  }
  @include mq(fab) {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  @include mq(tab) {
    display: none;
  }
  &--middle {
    display: none;
    border-radius: 20px;
    @include mq(tab-only) {
      display: block;
    }
  }
  &--large {
    display: none;
    border-radius: 20px;

    @include mq(desk) {
      display: block;
    }
  }
}
.swiper-button-next:after,
.swiper-button-prev:after {
  color: var(--accent-color);
}
