.advantages {
  background: var(--second-br-color);
  padding-top: 0;
}

.advantages__list {
  justify-content: space-between;
  @include mq(mob) {
    --card-item: 1;
    --card-gap: 32px;
  }

  @media screen and (min-width: 520px) {
    --card-item: 2;
    --card-gap: 20px;
  }

  @include mq(tab) {
    --card-item: 3;
    // --card-gap: 32px;
  }

  @include mq(desk) {
    // --card-gap: 80px;
  }
}

.advantages__item {
  &:nth-child(1) .advantages__statistics::before {
    width: 33px;
    background-image: url(../images/png/about/pot-1-2x.png);
  }

  &:nth-child(2) .advantages__statistics::before {
    width: 50px;
    background-image: url(../images/png/about/bucket-2-2x.png);
  }

  &:nth-child(3) .advantages__statistics::before {
    width: 44px;
    background-image: url(../images/png/about/candy-3-2x.png);
  }
}
.advantages__statistics {
  display: flex;
  flex-direction: column;
  //   width: 100px;
  margin-bottom: 10px;
  font-family: var(--title-font-family);
  font-weight: 400;
  font-size: 36px;
  line-height: 1.138;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: var(--accent-color);

  @include mq(fab) {
    margin-bottom: 12px;

    font-size: 40px;
    line-height: 1.14;
  }

  @include mq(tab) {
    margin-bottom: 13px;

    font-size: 48px;
    line-height: 1.145;
  }

  @include mq(desk) {
    margin-bottom: 16px;

    font-size: 58px;
    line-height: 1.137;
  }
  &::before {
    content: '';
    width: 50px;
    height: 50px;
    background-color: carentcolor;
    background-image: url(../images/png/about/pot-1-2x.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-bottom: 36px;
    @include mq(desk) {
      margin-bottom: 40px;
    }
  }
}

.advantages__texst {
  width: 230px;
  font-family: var(--primary-font-family);
  font-weight: 700;
  font-size: 12px;
  line-height: 1.66;
  letter-spacing: 0;

  color: var(--black-color);

  @include mq(fab) {
    max-width: 210px;
    font-size: 12px;
    line-height: 1.7;
  }
  @include mq(tab) {
    max-width: 160px;
    font-size: 14px;
    line-height: 1.71;
  }

  @include mq(desk) {
    max-width: 288px;
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.02em;
  }
}
