.footer {
  background-color: #fff5f6;

  &.section {
    padding: 0;
    padding-bottom: 10px;
    @include mq(desk) {
      padding-top: 60px;
    }
  }
  & .container {
    @include mq(tab) {
      display: flex;
      align-items: center;
      padding-left: 16px;
      padding-right: 16px;
    }
  }
}
.footer__title {
  font-family: var(--title-font-family);
  font-weight: 400;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.16;
  color: var(--pretitle-color);
  margin-bottom: 40px;
  @include mq(tab) {
    max-width: 340px;
    font-size: 26px;
    line-height: 1.15;
  }
  @include mq(desk) {
    max-width: 100%;
    margin-bottom: 60px;

    font-size: 30px;
    line-height: 1.13;
  }
}
.footer__title--red {
  display: block;
  margin-top: 16px;
  font-size: 34px;
  letter-spacing: 0.06em;
  line-height: 1.15;
  color: var(--accent-color);
  @include mq(mob-only) {
    max-width: 200px;
  }
  @include mq(tab-only) {
    margin-top: 12px;
    font-size: 48px;
  }
  @include mq(desk) {
    font-size: 58px;
    line-height: 1.13;
  }
}
.footer__leftside {
  @include mq(tab) {
    margin-left: auto;
  }
}
.footer__list {
  justify-content: end;
  margin-bottom: 40px;
  --card-gap: 28px;
  --card-item: 3;
}
.footer__icon {
  display: flex;
  fill: #fea5bb;
  transition: fill 250ms linear;
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}
.footer__text {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.38;
  letter-spacing: 0.02em;
  text-align: right;
  color: var(--black-color);
  @include mq(tab) {
    font-size: 14px;
    line-height: 1.86;
  }
  @include mq(desk) {
    font-size: 16px;
    line-height: 1.88;
  }
}
.footer__contact {
  color: var(--accent-color);
}
.footer__posttitle {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--text-color);
  &::before {
    content: '';
    display: block;
    height: 1px;
    margin-bottom: 16px;
    background-color: #e1e1e1;
    @include mq(tab) {
      margin-bottom: 8px;
    }
    @include mq(desk) {
      margin-left: auto;
      margin-right: auto;
      width: 1170px;
      line-height: 1.86;
    }
  }
}
.footer__posttitle--bottomtext {
  @include mq(mob-only) {
    display: block;
  }
}
