.gallery {
  padding: 0;
  background-image: linear-gradient(
    to bottom,
    #fff5f6 23%,
    #ffffff 23%,
    #ffffff
  );

  // @include mq(fab-only) {
  //   padding-left: 30px;
  //   padding-right: 30px;
  // }

  // @include mq(desk) {
  //   display: flex;
  //   justify-content: center;
  // }
}

.gallery__list {
  display: grid;
  align-items: center;
  gap: 2px;
  grid-template-rows: repeat(7, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    '.  .  p3 p3 . . .'
    '.  .  p3 p3 . p5 .'
    '.  p2 p3 p3 p4 p5 p6'
    'p1 p2 p3 p3 p4 p5 p6'
    'p1 p2 p3 p3 p4 p10 p6'
    'p1 p7 p3 p3 p9 p10 .'
    '.  p7 p8 . p9 p10 .'
    '.  p7 p8 . p9 . .'
    '.   . p8 . . . .';

  @include mq(fab) {
    gap: 4px;
  }

  @include mq(tab) {
    gap: 6px;
  }

  @include mq(desk) {
    gap: 8px;
  }
}

.gallery__item {
  display: block;
  width: 100%;
  height: 100%;

  &:nth-child(1) {
    grid-area: p1;
  }

  &:nth-child(2) {
    grid-area: p2;
  }

  &:nth-child(3) {
    grid-area: p3;
  }

  &:nth-child(4) {
    grid-area: p4;
  }

  &:nth-child(5) {
    grid-area: p5;
  }

  &:nth-child(6) {
    grid-area: p6;
  }

  &:nth-child(7) {
    grid-area: p7;
  }

  &:nth-child(8) {
    grid-area: p8;
  }

  &:nth-child(9) {
    grid-area: p9;
  }

  &:nth-child(10) {
    grid-area: p10;
  }
}
