.header {
  position: absolute;
  z-index: 99;
  padding-top: 8px;
  top: 0;
  width: 100%;

  @include mq(tab) {
    padding-top: 32px;
  }
  @include mq(desk) {
    padding-top: 37px;
    padding-bottom: 37px;
  }

  &__wrapper {
    display: flex;
    align-items: center;
  }

  &.fixed {
    position: fixed;
    background-color: var(--hero-bg-color);
    padding: 20px 0;
  }
}

.btn__wrap {
  margin-left: auto;
}
