.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.swiper-pagination {
  position: static;
}
.sl-wrapper .sl-navigation button.sl-next,
.sl-wrapper .sl-navigation button.sl-prev,
.sl-wrapper .sl-close {
  color: var(--accent-color);
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
}

.swiper-pagination-bullet-active {
  width: 12px;
  height: 12px;
  border-radius: 0;
  background-image: url(../images/home.svg);
  background-color: transparent;
  background-repeat: no-repeat;
}

.reviews_box {
  display: flex;
  flex-direction: column;
}

.reviews__wrap {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, #fafafa, #fafafa);
  padding: 43px 66px 26px;
  margin-top: 32px;
  margin-bottom: 32px;

  &::after {
    content: '';
    bottom: -20px;

    @include mq(tab-only) {
      bottom: -8px;
    }

    left: 50%;
    transform: translatex(-50%);
    width: 32px;
    height: 4px;
    position: absolute;
    background-image: url(../images/png/customer-peviews/point-1x.png);
    @include mq(retina) {
      background-image: url(../images/png/customer-peviews/point-2x.png);
    }
    background-repeat: no-repeat;
    background-size: contain;
  }

  @include mq(tab) {
    padding: 37px 50px 44px;
    margin-top: 20px;
  }

  @include mq(desk) {
    margin-top: 16px;
    padding: 47px 109px 39px;
  }
}

.reviews__text {
  position: relative;
  background-image: repeating-linear-gradient(
    0deg,
    #e1e1e1 0 1px,
    transparent 1px 31px
  );
  padding: 0 16px;
  font-size: 12px;
  line-height: 255%;
  color: var(--black-color);
  z-index: 99;

  &::before {
    content: '';
    top: -10px;
    left: -10px;
    width: 54px;
    height: 40px;
    position: absolute;
    background-image: url(../images/coma.svg);
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
  }

  @include mq(tab) {
    font-size: 14px;
    line-height: 2.16;
    padding: 0;
    background-image: repeating-linear-gradient(
      0deg,
      #e1e1e1 0 1px,
      transparent 1px 32px
    );
    &::before {
      top: -18px;
      left: -30px;
      width: 60px;
      height: 40px;
      z-index: -1;
    }
  }
  @include mq(desk) {
    font-size: 14px;
    line-height: 1.86;
    padding: 0 35px;
    background-image: repeating-linear-gradient(
      0deg,
      #e1e1e1 0 1px,
      transparent 1px 27px
    );
    &::before {
      top: -13px;
      left: 5px;
      width: 54px;
      height: 40px;
      z-index: -1;
    }
  }
}

.reviews__place {
  font-size: 14px;
  line-height: 1.86;
  color: var(--black-color);
  text-align: center;
  margin-bottom: 16px;
  letter-spacing: 0;

  @include mq(tab) {
    font-size: 16px;
    line-height: 2.16;
    margin-bottom: 32px;
  }
  @include mq(desk) {
    font-size: 20px;
    line-height: 1.86;
  }
}
